@media (min-width: 979px) {
	.space
	{
		height: 40px;
	}
}

.nonLien, .nonLien:hover, .nonLien:visited, .nonLien:focus
{
	color: black;
	text-decoration: none;
}

.dropCodeArea
{
	border: 1px solid black;
	margin-left: 12px;
	border-radius: 4px;
    box-shadow: 1px 1px 6px black;
    padding: 5px;
}
