{% extends "admin/main" %}

{% block page %}
<h3>Liste des Questionnaires</h3>

<div style="height: 40px;">
	<div class="pull-right"><a class="btn btn-info" href="admin/new.html">Créer un Questionnaire</a></div>
</div>

<div class="accordion" id="accordion">
	{% for each in form %}
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle nonLien" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
					<strong>{{ each.nom }}</strong> - {{ each.date }} - {{ each.nbreRep }} réponse(s) <div class="pull-right">Actif : {{ each.actif }} | Visible : {{ each.affichage }} | Mot de passe : {{ each.password }}</div>
				</a>
			</div>
			<div id="collapse{{ loop.index }}" class="accordion-body collapse">
				<div class="accordion-inner">
					<form id="form{{ each.id }}" method="post" action="admin">
						<input type="hidden" name="formId" value="{{ each.id }}">
						<input type="hidden" name="formSlug" value="{{ each.slug }}">
						<a href="admin/edit-{{ each.id }}-{{ each.slug }}.html" class="btn">Modifier</a>
						<a href="admin/reponses/{{ each.id }}-{{ each.slug }}.html" class="btn">Accès aux réponses</a>
						{% if each.actif == "Oui" %}
							<input type="submit" class="btn" name="desactiver" value="Désactiver">
						{% else %}
							<input type="submit" class="btn" name="activer" value="Activer">
						{% endif %}
						
						{% if each.affichage == "Oui" %}
							<input type="submit" class="btn" name="invisible" value="Rendre invisible">
						{% else %}
							<input type="submit" class="btn" name="visible" value="Rendre visible">
						{% endif %}
							<a href="#mdp{{ each.id }}" role="button" class="btn" data-toggle="modal">Changer le mot de passe</a>
							<input type="hidden" id="suppr{{ each.id }}" name="suppr" value="false">
							<div class="btn btn-danger" onclick="delForm('{{ each.id }}');">Supprimer</div>
					</form>
					Adresse du formulaire : <code>{{ url }}/{{ each.id }}-{{ each.slug }}.html</code>
				</div>
			</div>
		</div>
	{% else %}
		<div class="alert alert-info">Vous n'avez pas créé de questionnaire</div>
	{% endfor %}
</div>
{% endblock %}
	
	
		
{% block modals %}
	{% for each in form %}
		<div id="mdp{{ each.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Modifier le mot de passe</h3>
			</div>
			<form method="post" action="admin" style="margin: 0;" id="form{{ each.id }}">
				<div style="width: 90%;margin: auto;" id="erreur{{ each.id }}"></div>
				<div class="modal-body">
					<input name="formId" type="hidden" value="{{ each.id }}">
					<div class="input-prepend">
						<span class="add-on" style="width: 180px;">Mot de passe</span>
						<input name="mdp1" id="mdp1{{ each.id }}" type="password">
					</div>
					<div class="input-prepend">
						<span class="add-on" style="width: 180px;">Confirmer le mot de passe</span>
						<input name="mdp2" id="mdp2{{ each.id }}" type="password">
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
					<span class="btn btn-primary" onclick="mdp('{{ each.id }}');">Sauvegarder</span>
				</div>
			</form>
		</div>
	{% endfor %}
{% endblock %}

