<!DOCTYPE html>
<html lang="fr" >
	<head>
		<meta charset="UTF-8">
		<title>SESA - Administration</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Web application for online survey" />
		
		<base href="http://127.0.0.1/sesa/public/">

		<link href="static/css/bootstrap.css" rel="stylesheet">
		<link href="static/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="static/css/design.css" rel="stylesheet">
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">SESA - Administration</a>
				
					<ul class="nav pull-right">
						<li><a href="">Accueil public</a></li>
						<li><a href="admin/">Accueil administration</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div style="height: 40px;"></div>
		
		<div class="container">
			<ul class="nav nav-tabs" style="margin-top: 15px;">
				<li class="active"><a href="#tab1" data-toggle="tab">Questionnaires</a></li>
				<li><a href="#tab2" data-toggle="tab">Statistiques</a></li>
				<li><a href="#tab2" data-toggle="tab">Configuration</a></li>
			</ul>
			
			<div class="tab-content" style="border-bottom: 1px solid #ddd;">
				<div class="tab-pane active" id="tab1">
					{% block page %}{% endblock %}
				</div>
			</div>
			
			<div style="margin-top: 5px;">
				<div class="pull-right">
					SESA, open source survey software - Developed by <a href="http://www.truoris.fr/">Loïc Roque</a>
				</div>
			</div>
		</div>
		
		{% block modals %}{% endblock %}
		
		<script type="text/javascript" src="static/js/jquery.js"></script>
		<script type="text/javascript" src="static/js/bootstrap.js"></script>
		<script type="text/javascript" src="static/js/fonction.js"></script>
		<script type="text/javascript" src="static/js/jquery-ui-1.7.1.custom.min.js"></script>
		
	</body>
</html>
