<!DOCTYPE html>
<html lang="fr" >
	<head>
		<meta charset="UTF-8">
		<title>SESA - Nouveau questionnaire</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Web application for online survey" />
		
		<base href="http://127.0.0.1/sesa/public/">

		<link href="static/css/bootstrap.css" rel="stylesheet">
		<link href="static/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="static/css/design.css" rel="stylesheet">

	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">SESA - Nouveau questionnaire</a>

					<ul class="nav pull-right">
						<li><a href="admin/">Quitter ce questionnaire (sans sauvegarder)</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="space"></div>
		
		<div style="width: 98%;margin: auto;margin-bottom: 10px;">
			<div class="row-fluid">
				<div class="btn-toolbar">
					<div class="btn-group">
						<a href="#formCheckbox" role="button" data-toggle="modal" class="span1 btn" style="font-size: 14px;margin-top: 10px;width:180px;">case à cocher (multiple)</a>
						<a href="#formRadio" role="button" data-toggle="modal" class="span1 btn" style="font-size: 14px;margin-top: 10px;width:170px;">case à cocher (unique)</a>
					</div>
					<div class="btn-group">
						<a href="#formSelect" role="button" data-toggle="modal" class="span1 btn" style="font-size: 14px;margin-top: 10px;width:180px;">Selection dans une liste</a>
						<a href="#formSelectMultiple" role="button" data-toggle="modal" class="span1 btn" style="font-size: 14px;margin-top: 10px;width:230px;">Selection multiple dans une liste</a>
					</div>
					<div class="btn-group">
						<a href="#formTxtCourt" role="button" data-toggle="modal" class="span1 btn" style="font-size: 14px;margin-top: 10px;width:140px;">Champ libre court</a>
						<a href="#formTxtLong" role="button" data-toggle="modal" class="span1 btn" style="font-size: 14px;margin-top: 10px;width:130px;">Champ libre long</a>
					</div>
					<div class="btn-group">
						<a href="#formFieldset" role="button" data-toggle="modal" class="span1 btn" style="font-size: 14px;margin-top: 10px;width:160px;">Groupe de questions</a>
						<a href="#formTableau" role="button" data-toggle="modal" class="span1 btn" style="font-size: 14px;margin-top: 10px;width:150px;">Tableau de données</a>
					</div>
					<div class="btn-group">
						<div class="span1 btn btn-primary" style="font-size: 14px;margin-top: 10px;width:200px;" onclick="refreshView();">Visualiser le questionnaire</div>
						<div class="span1 btn btn-success" style="font-size: 14px;margin-top: 10px;width:200px;" onclick="save('{% if form.nom %}edit{% else %}new{% endif %}');">Sauvegarder</div>
					</div>
				</div>
			</div>
		</div>
		
		<input type="hidden" id="formId" value="{{ form.id}}">
		<input type="hidden" id="formSlug" value="{{ form.slug }}">
		
		<div class="row-fluid">
			<div class="span5">
				<div class="control-group" id="erreurNom">
					<div class="input-prepend" style="margin-left: 6%;">
						<span class="add-on">Nom du questionnaire</span>
						<input type="text" id="questionnaireNom" value="{{ form.nom }}">
					</div>
				</div>
					
				<!-- dev en cours -->
				
				<div id="formCode" class="dropCodeArea accordion">
					
					<div class="accordion-group">
						<div class="accordion-heading">
							<span class="accordion-toggle nonLien" data-toggle="collapse" data-parent="#formCode" href="#collapse1">
								<strong>Champs cours</strong> - toto
							</span>
						</div>
						<div id="collapse1" class="accordion-body collapse">
							<div class="accordion-inner">
								<form id="form1" method="post" action="admin">
									<div class="input-prepend">
										<span class="add-on" style="width: 50px;">Nom</span>
										<input style="width: 140px;" id="champCheckboxNom" type="text">
									</div>
									<br \>
									<div class="input-prepend">
										<span class="add-on" style="width: 50px;">Texte</span>
										<input style="width: 400px;" id="champCheckboxNom" type="text">
									</div>
									<br \>
									Entrer la liste des choix (un choix par ligne) :<br \>
									<textarea id="champCheckboxChoix" style="width: 70%;height: 100px;"></textarea>
									<br \>
									<label class="checkbox inline"><input type="checkbox" id="champCheckboxAutre"> Autoriser l'ajout de nouvelle réponses (Ajoute un choix "Autre")</label>
							</div>
						</div>
					</div>
					
					
					
					<div class="accordion-group">
						<div class="accordion-heading">
							<span class="accordion-toggle nonLien" data-toggle="collapse" data-parent="#formCode" href="#collapse2">
								<strong>Champs long</strong> - toto
							</span>
						</div>
						<div id="collapse2" class="accordion-body collapse">
							<div class="accordion-inner">
								<form id="form1" method="post" action="admin">
									<div class="input-prepend">
										<span class="add-on" style="width: 50px;">Nom</span>
										<input style="width: 140px;" id="champCheckboxNom" type="text">
									</div>
									<br \>
									<div class="input-prepend">
										<span class="add-on" style="width: 50px;">Texte</span>
										<input style="width: 400px;" id="champCheckboxNom" type="text">
									</div>
									<br \>
									Entrer la liste des choix (un choix par ligne) :<br \>
									<textarea id="champCheckboxChoix" style="width: 70%;height: 100px;"></textarea>
									<br \>
									<label class="checkbox inline"><input type="checkbox" id="champCheckboxAutre"> Autoriser l'ajout de nouvelle réponses (Ajoute un choix "Autre")</label>
							</div>
						</div>
					</div>
					
					
					
				</div>
				
				<!-- fin zone dev -->	
				
							
			</div>
			
			<div class="span7">
				<iframe id="viewFrame" style="width: 99%;" src="admin/view-vide.html"></iframe> 
			</div>
		</div>
		
		<div>
			<hr \>
			<div class="pull-right" style="margin-right: 10px;">
				SESA, open source survey software - Developed by <a href="http://www.truoris.fr/">Loïc Roque</a>
			</div>
		</div>
		
		<div id="formCheckbox" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Case à cocher (choix multiple)</h3>
			</div>
			<div class="modal-body">
				<div class="input-prepend">
					<span class="add-on" style="width: 60px;">Nom</span>
					<input id="champCheckboxNom" type="text">
				</div>
				<br \>
				Entrer la liste des choix (un choix par ligne) :<br \>
				<textarea id="champCheckboxChoix" style="width: 70%;height: 100px;"></textarea>
				<br \>
				<label class="checkbox inline"><input type="checkbox" id="champCheckboxAutre"> Autoriser l'ajout de nouvelle réponses (Ajoute un choix "Autre")</label>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" onclick="insertCode('checkbox', '{% if form.nom %}edit{% else %}new{% endif %}');">Ajouter</button>
			</div>
		</div>
		
		<div id="formRadio" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Case à cocher (choix unique)</h3>
			</div>
			<div class="modal-body">
				<div class="input-prepend">
					<span class="add-on" style="width: 60px;">Nom</span>
					<input id="champRadioNom" type="text">
				</div>
				<br \>
				Entrer la liste des choix (un choix par ligne) :<br \>
				<textarea id="champRadioChoix" style="width: 70%;height: 100px;"></textarea>
				<br \>
				<label class="checkbox inline"><input type="checkbox" id="champRadioAutre"> Autoriser l'ajout de nouvelle réponses (Ajoute un choix "Autre")</label>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" onclick="insertCode('radio', '{% if form.nom %}edit{% else %}new{% endif %}');">Ajouter</button>
			</div>
		</div>
		
		<div id="formSelect" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Sélection unique dans une liste</h3>
			</div>
			<div class="modal-body">
				<div class="input-prepend">
					<span class="add-on" style="width: 60px;">Nom</span>
					<input id="champSelectNom" type="text">
				</div>
				<br \>
				Entrer la liste des choix (un choix par ligne) :<br \>
				<textarea id="champSelectChoix" style="width: 70%;height: 100px;"></textarea>
				<br \>
				<label class="checkbox inline"><input type="checkbox" id="champSelectAutre"> Autoriser l'ajout de nouvelle réponses (Ajoute un choix "Autre")</label>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" onclick="insertCode('select', '{% if form.nom %}edit{% else %}new{% endif %}');">Ajouter</button>
			</div>
		</div>
		
		<div id="formSelectMultiple" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Sélection multiple dans une liste</h3>
			</div>
			<div class="modal-body">
				<div class="input-prepend">
					<span class="add-on" style="width: 60px;">Nom</span>
					<input id="champSelectMultipleNom" type="text">
				</div>
				<br \>
				Entrer la liste des choix (un choix par ligne) :<br \>
				<textarea id="champSelectMultipleChoix" style="width: 70%;height: 100px;"></textarea>
				<br \>
				<label class="checkbox inline"><input type="checkbox" id="champSelectMultipleAutre"> Autoriser l'ajout de nouvelle réponses (Ajoute un choix "Autre")</label>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" onclick="insertCode('selectmultiple', '{% if form.nom %}edit{% else %}new{% endif %}');">Ajouter</button>
			</div>
		</div>
		
		<div id="formTxtCourt" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Champ libre court</h3>
			</div>
			<div class="modal-body">
				<div class="input-prepend">
					<span class="add-on" style="width: 60px;">Nom</span>
					<input id="champTxtCourtNom" type="text">
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" onclick="insertCode('txtcourt', '{% if form.nom %}edit{% else %}new{% endif %}');">Ajouter</button>
			</div>
		</div>
		
		<div id="formTxtLong" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Champ libre long</h3>
			</div>
			<div class="modal-body">
				<div class="input-prepend">
					<span class="add-on" style="width: 60px;">Nom</span>
					<input id="champTxtLongNom" type="text">
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" onclick="insertCode('txtlong', '{% if form.nom %}edit{% else %}new{% endif %}');">Ajouter</button>
			</div>
		</div>

		<div id="formFieldset" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Groupe de questions</h3>
			</div>
			<div class="modal-body">
				<div class="input-prepend">
					<span class="add-on" style="width: 60px;">Nom</span>
					<input id="champFieldsetNom" type="text">
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" onclick="insertCode('fieldset', '{% if form.nom %}edit{% else %}new{% endif %}');">Ajouter</button>
			</div>
		</div>
		
		<div id="formTableau" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Tableau de données</h3>
			</div>
			<div class="modal-body">
				<div class="input-prepend">
					<span class="add-on" style="width: 110px;">Nom</span>
					<input id="champTableauNom" type="text">
				</div>
				<div class="input-prepend">
					<span class="add-on" style="width: 110px;">Type de champs</span>
					<select id="champTableauType">
						<option value="none"> --- </option>
						<option value="selection">Sélection dans une liste</option>
						<option value="texteLibre">Champ libre court</option>
					</select>
				</div>	
				<br \>
				<table style="width: 95%;">
					<tr>
						<td>
							Entrer la liste des lignes<br \>(une ligne par ligne) :<br \>
							<textarea id="champTableauLigne" style="width: 90%;height: 100px;"></textarea>
						</td>
						<td>
							Entrer la liste des colonnes<br \>(une colonne par ligne) :<br \>
							<textarea id="champTableauColonne" style="width: 90%;height: 100px;"></textarea>
						</td>
					</tr>
				</table>
				Entrer la liste des choix (uniquement si le type de champ est "Sélection dans une liste" un choix par ligne) :<br \>
				<textarea id="champTableauChoix" style="width: 70%;height: 100px;"></textarea>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" onclick="insertCode('tableau', '{% if form.nom %}edit{% else %}new{% endif %}');">Ajouter</button>
			</div>
		</div>
		
		<script type="text/javascript" src="static/js/jquery.js"></script>
		<script type="text/javascript" src="static/js/bootstrap.js"></script>
		<script type="text/javascript" src="static/js/fonction.js"></script>
		<script type="text/javascript" src="static/js/jquery-ui.min.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function() {
				design();
				$("#formCode").sortable({});
			});
		</script>
	</body>
</html>
