{% extends "admin/main" %}

{% block page %}
<h3>Réponses</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			{% for champ in champs %}
					<th>{{ champ }}</th>
			{% endfor %}
			<th> </th>
		</tr>
	</thead>
	<tbody>
		{% for each in rep %}
			<tr>
				{% for champ in each %}
					<td>{{ champ }}</td>
				{% endfor %}
				<td>
					<form method="post" action="">
						<input type="hidden" value="{{ each.0 }}" name="repId"><input type="submit" name="suppr" class="btn btn-danger" value="Supprimer" \>
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
