<!DOCTYPE html>
				<html lang="fr" >
				<head>
					<meta charset="UTF-8">
					<title>SESA - Home</title>
					<meta name="viewport" content="width=device-width, initial-scale=1.0">
					<meta name="description" content="Web application for online survey" />
					<base href="http://127.0.0.1/sesa/public/">
					<link href="static/css/bootstrap.css" rel="stylesheet">
					<link href="static/css/bootstrap-responsive.css" rel="stylesheet">
					<link href="static/css/design.css" rel="stylesheet">
				</head>
				<body>
				<div class="navbar navbar-inverse navbar-fixed-top">
					<div class="navbar-inner">
					<div class="container">
					<a class="brand">SESA - Questionnaire</a>

					<ul class="nav pull-right">
					<li><a>Retour à l'accueil</a></li>
					</ul>
					</div>
					</div>
				</div>
				
				<div class="space"></div>
				
				<div style="margin-left: 10px;margin-right: 10px;">
				<h1>Questionnaire essai</h1><fieldset><legend style="margin-bottom: 0px;">Groupe</legend>
<div style="width: 80%;margin-auto;margin-top: 20px;padding: 0;">Essai :<br \> <label class="checkbox inline"><input type="checkbox"> choix 1</label> <label class="checkbox inline"><input type="checkbox"> choix 2</label> <label class="checkbox inline"><input type="checkbox"> choix 3</label> <label class="checkbox inline"><input id="check_1" type="checkbox" onclick="disableCheck('1')"> Autre :</label> <input id="input_1" style="margin-top: 15px;margin-left: 5px;" type="text" disabled></div>
</fieldset>
<div style="margin-left: 30%;margin-top: 15px;margin-bottom: 15px;"><input type="submit" value="Enregistrer" class="btn btn-primary"></div></div><script type="text/javascript" src="static/js/fonction.js"></script></body></html>