<!DOCTYPE html>
				<html lang="fr" >
				<head>
					<meta charset="UTF-8">
					<title>SESA - Home</title>
					<meta name="viewport" content="width=device-width, initial-scale=1.0">
					<meta name="description" content="Web application for online survey" />
					<base href="http://127.0.0.1/sesa/public/">
					<link href="static/css/bootstrap.css" rel="stylesheet">
					<link href="static/css/bootstrap-responsive.css" rel="stylesheet">
					<link href="static/css/design.css" rel="stylesheet">
				</head>
				<body>
				<div class="navbar navbar-inverse navbar-fixed-top">
					<div class="navbar-inner">
					<div class="container">
					<a class="brand">SESA - Questionnaire</a>

					<ul class="nav pull-right">
					<li><a>Retour à l'accueil</a></li>
					</ul>
					</div>
					</div>
				</div>
				
				<div style="height: 50px;"></div>
				
				<div style="margin-left: 10px;">
				<h1>Questionnaire Visiteurs</h1><div style="width: 80%;margin-auto;margin-top: 20px;">Sexe :<br \> <label class="checkbox inline"><input type="checkbox"> Homme</label> <label class="checkbox inline"><input type="checkbox"> Femme</label></div><div style="width: 80%;margin-auto;margin-top: 20px;">Age :<br \> <label class="checkbox inline"><input type="checkbox"> 0-16</label> <label class="checkbox inline"><input type="checkbox"> 17-100</label></div><div style="margin-left: 30%; margin-top: 15px;"><input type="submit" value="Enregistrer" class="btn btn-primary"></div></div></body></html>