<!DOCTYPE html>
<html lang="fr" >
	<head>
		<meta charset="UTF-8">
		<title>SESA - Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Web application for online survey" />
		
		<base href="http://127.0.0.1/sesa/public/">

		<link href="static/css/bootstrap.css" rel="stylesheet">
		<link href="static/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="static/css/design.css" rel="stylesheet">
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">SESA - Accueil</a>
				</div>
			</div>
		</div>
		
		<div style="height: 40px;"></div>
		
		<div class="container">
			<h3>Choisissez votre questionnaires</h3>
			
			<table style="width: 75%;margin: auto;" class="table table-striped">
				<thead>
					<tr>
						<th>Nom du questionnaire</th>
						<th> </th>
					</tr>
				</thead>
				<tbody>
					{% for each in form %}
						<tr>
							<td>{{ each.nom }}</td>
							<td style="text-align: center;"><a href="{{ url}}/{{ each.id}}-{{ each.slug }}.html" class="btn btn-info">Répondre à ce questionnaire</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			
			<div>
				<hr \>
				<div class="pull-right">
					SESA, open source survey software - Developed by <a href="http://www.truoris.fr/">Loïc Roque</a>
				</div>
			</div>
		</div>
	</body>
</html>
