<!DOCTYPE html>
				<html lang="fr" >
				<head>
					<meta charset="UTF-8">
					<title>SESA - Home</title>
					<meta name="viewport" content="width=device-width, initial-scale=1.0">
					<meta name="description" content="Web application for online survey" />
					<base href="http://127.0.0.1/sesa/public/">
					<link href="static/css/bootstrap.css" rel="stylesheet">
					<link href="static/css/bootstrap-responsive.css" rel="stylesheet">
					<link href="static/css/design.css" rel="stylesheet">
				</head>
				<body>
				<div class="navbar navbar-inverse navbar-fixed-top">
					<div class="navbar-inner">
					<div class="container">
					<a class="brand">SESA - Questionnaire</a>

					<ul class="nav pull-right">
					<li><a>Retour à l'accueil</a></li>
					</ul>
					</div>
					</div>
				</div>
				
				<div style="height: 50px;"></div>
				
				<div style="margin-left: 10px;margin-right: 10px;">
				<h1>Questionnaire fgf</h1><fieldset><legend>Tableau</legend><table class="table table-bordered"><thead><tr><th>Essai</th><th>erf</th><th>qdfsq</th><th>erf</th><th>qdfsq</th><th>erf</th><th>qdfsq</th><th>erf</th><th>qdfsq</th><th>erf</th><th>qdfsq</th><th>erf</th><th>qdfsq</th><th>erf</th><th>qdfsq</th></tr></thead><tbody><tr><td>qsdfsq</td><td><input type="text" id="input_1_1" class="input-medium"></td><td><input type="text" id="input_1_2" class="input-medium"></td><td><input type="text" id="input_1_3" class="input-medium"></td><td><input type="text" id="input_1_4" class="input-medium"></td><td><input type="text" id="input_1_5" class="input-medium"></td><td><input type="text" id="input_1_6" class="input-medium"></td><td><input type="text" id="input_1_7" class="input-medium"></td><td><input type="text" id="input_1_8" class="input-medium"></td><td><input type="text" id="input_1_9" class="input-medium"></td><td><input type="text" id="input_1_10" class="input-medium"></td><td><input type="text" id="input_1_11" class="input-medium"></td><td><input type="text" id="input_1_12" class="input-medium"></td><td><input type="text" id="input_1_13" class="input-medium"></td><td><input type="text" id="input_1_14" class="input-medium"></td></tr></tbody></table></fieldset><div style="margin-left: 30%;margin-top: 15px;margin-bottom: 15px;"><a class="btn btn-primary" onclick="save();">Enregistrer</a></div></div><script type="text/javascript" src="static/js/fonction.js"></script></body></html>